@import-normalize;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-primary: #55423D;
  --color-secondary: #140D0B;
  --color-background: #FFF3EC;
  --font-display: 'Lora', serif;
  --font-text: 'Montserrat', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-family: var(--font-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem;
}

.h-screen-dvh {
  min-height: 100dvh;
}